epss-env/
__pycache__/


*.pyc
*.csv
*.gz
*.png
*.csv.gz
*.pdf
*mp4
data/epss/raw/

data/epss/cve-time-series/
data/epss/processed/

!data/general_utils/files/*small*

# Ignore all files with the .parquet extension
*.parquet

# Ignore any directory ending with _parquet
*_parquet/
*.parquet.crc
*.crc
*_SUCCESS
*_SUCCESS.crc


